In [1]:
#Libraries
import pandas as pd
from sklearn import metrics ,model_selection,preprocessing
from sklearn.ensemble import RandomForestClassifier
from sklearn import metrics

In [2]:
#Download the Dataset from UCI URL Directly and adding  the column names
dataset=pd.read_csv("https://archive.ics.uci.edu/ml/machine-learning-databases/car/car.data",names=['buying','maint','doors','persons','lug_boot','safety','class'])

In [3]:
dataset.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1728 entries, 0 to 1727
Data columns (total 7 columns):
buying      1728 non-null object
maint       1728 non-null object
doors       1728 non-null object
persons     1728 non-null object
lug_boot    1728 non-null object
safety      1728 non-null object
class       1728 non-null object
dtypes: object(7)
memory usage: 94.6+ KB

In [4]:
#Identify the Target Variable
dataset['class'],class_names=pd.factorize(dataset['class'])

In [5]:
#Printing the Class value and corresponding Integer Value
print("printing the class names",class_names)
print("Printing the uniquedataset",dataset['class'].unique())

printing the class names Index(['unacc', 'acc', 'vgood', 'good'], dtype='object')
Printing the uniquedataset [0 1 2 3]

In [6]:
#Converting each of the class varibale to its corresponding integer Value
dataset['buying'],_=pd.factorize(dataset['buying'])
dataset['maint'],_=pd.factorize(dataset['maint'])
dataset['doors'],_=pd.factorize(dataset['doors'])
dataset['persons'],_=pd.factorize(dataset['persons'])
dataset['lug_boot'],_=pd.factorize(dataset['lug_boot'])
dataset['safety'],_=pd.factorize(dataset['safety'])

In [7]:
dataset.head()

   buying  maint  doors  persons  lug_boot  safety  class
0       0      0      0        0         0       0      0
1       0      0      0        0         0       1      0
2       0      0      0        0         0       2      0
3       0      0      0        0         1       0      0
4       0      0      0        0         1       1      0

In [8]:
#Select feature and target variable
X=dataset.iloc[:,:-1]
y=dataset.iloc[:,-1]

In [10]:
X.head(5)

   buying  maint  doors  persons  lug_boot  safety
0       0      0      0        0         0       0
1       0      0      0        0         0       1
2       0      0      0        0         0       2
3       0      0      0        0         1       0
4       0      0      0        0         1       1

In [11]:
y.head(5)

0    0
1    0
2    0
3    0
4    0
Name: class, dtype: int64

In [12]:
#Train Test Split
X_train, X_test, y_train, y_test = model_selection.train_test_split(X, y, test_size=0.2, random_state=42)

In [13]:
#Model Fitting
random_model=RandomForestClassifier(random_state=0,n_estimators=10, criterion="gini")
random_model.fit(X_train,y_train)

RandomForestClassifier(bootstrap=True, class_weight=None, criterion='gini',
            max_depth=None, max_features='auto', max_leaf_nodes=None,
            min_impurity_decrease=0.0, min_impurity_split=None,
            min_samples_leaf=1, min_samples_split=2,
            min_weight_fraction_leaf=0.0, n_estimators=10, n_jobs=1,
            oob_score=False, random_state=0, verbose=0, warm_start=False)

In [14]:
#Model Accuracy
y_pred=random_model.predict(X_test)
accuracy=metrics.accuracy_score(y_test,y_pred)
print("Accuracy prediction of random Forest is ",accuracy)

Accuracy prediction of random Forest is  0.930635838150289